<div>
   Name: <span>{{name}}</span> <br />
   Owner: <span>{{owner}}</span> <br />
   Language: <span>{{language}}</span> <br />
   Url: <a href="{{url}}">{{url}}</a> <br />
   Homepage: <a href="{{homepage}}">{{homepage}}</a><br />
   Description: <span>{{description}}</span> <br />

   Created: <span>{{created_at}}</span> <br />

   {{#if forks}}
   <span class="label success">Forks: {{forks}}</span> <br />
   {{/if}}
   {{#if open_issues}}
   <span class="label warning">Open issues: {{open_issues}}</span> <br />
   {{/if}}
   {{#if watchers}}
   <span class="label notice">Watchers: {{watchers}}</span> <br />
   {{/if}}
   {{#if private}}
   <span class="label important">Private</span> <br />
   {{/if}}

   Score: <span>{{score}}</span> <br />
   Size: <span>{{size}}</span>
</div>
