# Ignore Play! working directory #
db
eclipse
lib
log
logs
modules
precompiled
tmp
test-result
server.pid
modules

# Scala
*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# IntelliJ
out/
*.iml
*.ipr
*.iws
.idea/

#node!
node_modules/

#System
nohup.out
