@main(mainjs = "main_project.js")(title="Welcome to Play 2.0") {
    <div id="project-container">
        <div class="row pull-right">
            <div class="span6 details">
                <div class="pull-right">
                    <dl class="dl-horizontal">
                        <dt>Owner:</dt>             <dd>athieriot</dd>
                        <dt>Sources:</dt>           <dd><a href="http://athieriot.github.com/screwdriver">http://athieriot.github.com/screwdriver</a></dd>
                        <dt>Request time:</dt>      <dd>2h</dd>
                        <dt>Level:</dt>             <dd>hight</dd>
                        <dt>Languages:</dt>         <dd>Java, Javascript, Scala</dd>
                        <dt>Needs:</dt>             <dd>2 developers</dd>
                    </dl>
                </div>
            </div>
            <div class="span6">
                <div class="thumbnail">
                    <img src="http://placehold.it/360x268" alt="">
                </div>
            </div>
        </div>
    </div>
}