@main {
    Screwdriver <small>help you find some screws or drivers</small>
} {
    <div class="row">
        <div class="span12">
            <div row>
                <div class="left-column span6">
                    <form id="screw-search-form" class="well form-search">
                        <legend>Find a screw</legend>
                        <input class="search-query" id="screw-search-term" name="screw-search-term" type="text">
                     </form>
                     <div id="screw-search-details">
                     </div>
                </div>
                <div class="right-column span6">
                    <form id="driver-search-form" class="well form-search">
                        <legend>Find a driver</legend>
                        <input class="search-query" id="driver-search-term" name="driver-search-term" type="text">
                    </form>
                    <div id="driver-search-details">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
