@(mainjs: String)(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/assets/css/bootstrap-responsive.min.css">
        <!--link rel="stylesheet" media="screen" href="/assets/css/main.css"-->

        <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">

        <script src="assets/js/lib/require.js" data-main="/assets/js/@mainjs" type="text/javascript"></script>
        <script type="text/javascript">
            requirejs.config({
                baseUrl: "/assets/js/",
                shim: {
                    'lib/underscore': {
                        deps: ['lib/jquery.min'],
                        exports: '_'
                    },
                    'lib/ember': {
                        deps: ['lib/jquery.min'],
                        exports: 'Ember'
                    },
                    'lib/ember-data.min': ['lib/ember'],
                    'lib/bootstrap.min': ['lib/jquery.min']
                }
            });
        </script>
    </head>
    <body>
        @content
    </body>
</html>
