@(mainjs: String)(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet" media="screen" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/assets/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" media="screen" href="/assets/css/main.css">

        <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">

        <script src="assets/js/lib/require.js" data-main="/assets/js/@mainjs" type="text/javascript"></script>
        <script type="text/javascript">
            requirejs.config({
                baseUrl: "/assets/js/",
                shim: {
                    'lib/underscore': {
                        deps: ['lib/jquery.min'],
                        exports: '_'
                    },
                    'lib/ember': {
                        deps: ['lib/jquery.min'],
                        exports: 'Ember'
                    },
                    'lib/ember-data.min': ['lib/ember'],
                    'lib/bootstrap.min': ['lib/jquery.min']
                }
            });
        </script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="span1 offset5">
                            <a class="brand" href="/">Screwdriver</a>
                        </div>
                        <div class="span1 offset5">
                            <form class="navbar-search pull-right">
                                <input type="text" class="search-query" placeholder="discover">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @content

        <script type="text/javascript">
            var uvOptions = {};
            (function() {
                var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
                uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/yYbzmlZ3g9rnLvSG9KhHQ.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
            })();
        </script>
    </body>
</html>
